@tailwind base;
@tailwind components;
@tailwind utilities;

.group.active {
  /* background-color: #3b3b3b;
  color: #2cb766; */
  background-color: #2cb766;
  color: white;
}

.group.active svg {
  /* background-color: #3b3b3b; */
  /* color: #2cb766; */
  background-color: #2cb766;
  color: white;
}

.w-64 {
  width: 16rem !important;
}