@tailwind base;
@tailwind components;
@tailwind utilities;

.group.active {
  /* background-color: #3b3b3b;
  color: #2cb766; */
  background-color: #2cb766;
  color: white;
}

.group.active svg {
  /* background-color: #3b3b3b; */
  /* color: #2cb766; */
  background-color: #2cb766;
  color: white;
}

.w-64 {
  width: 16rem !important;
}


/* // data table print column */

/* .hidden-print {
  display: none;
}

@media print {
  .hidden-print {
      display: table-cell !important;
  }
} */

#printable-table #cell-7-19, #printable-table [data-column-id="7"] {
  display: none !important;
}
@media print {
  #printable-table #cell-7-19, #printable-table [data-column-id="7"] {
      display: flex !important;
  }
}